* {
  box-sizing: border-box;
  color: #d4d4d4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: #1e1e1e;
}

p {
  margin: 0;
}

.header, .data-container, .full-width-container {
  text-align: center;
  background: #1e1e1e;
  border: 10px solid #254682;
  max-width: 100%;
}

.data-container {
  float: left;
  width: 50%;
}

#header-container, #discussion-container {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header-container > :nth-child(even),
#discussion-container > :nth-child(even),
#review-container > :nth-child(even) {
  background: #171717;
}

#header-container {
  margin-bottom: 12px;
}

#discussions-container {
  max-width: 750px;
}

.header-item {
  padding: 4px;
}

.discussion, .review {
  padding: 16px 20px;
}

.review-score {
  font-weight: bold;
}

.review-score-positive {
  color: cornflowerblue;
}

.review-score-negative {
  color: #c84338;
}

.underline {
  text-decoration: underline;
}
